@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

header {
    background-color: #FF5A33;
}

footer {
    background-color: #B4CF66;
    padding-top: 24;
    padding-bottom: 100;
    padding-left: 0;
    padding-right: 0;
    padding: 20px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    color: darkgreen;
    text-decoration: none;
}

.page-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-row-start: 1;
    column-gap: 16px;
}

h1 {
    color: green;
}

tr:nth-child(even) {
    background-color: lightgray;
}